.div {
    position: relative;
}

.div1 {
    background-color: burlywood;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

}
.div2 {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 2;
}
.div3 {
    background-color: crimson;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 30%;
    top: 30%;
}